	<p><%= respuesta %> </p>


<!--

<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"><meta>quiz title</meta>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>quiz, el juego de las preguntas</h2>
	<%= respuesta %> <p>
	<p><a href="/quizes/question">intentelo otra vez ... </a></p>
  </body>
</html> -->
